
  <!-- <div class="background">
    <div class="slogan">Mint your NFT right now</div>
  <div class="form-group">
    <label class="control-label">Enter the name of your NFT</label>
    <input type="text" class="form-control" name="nftName" #nftName>
  </div>
  <button (click)="mintnewnftsincollection(nftName)">MINT</button>
</div>       

 -->

<!-- <div class="form-group">
        <label class="control-label">Enter the image  of your NFT</label>
    <input type="file"  class="form-control">
  </div> -->

   <!-- <div class="images">  
  </div> --> 
  <!-- <div class="background">
    
      <div class="product">
        <div class="form-group">
          <label class="control-label">Enter the name of your NFT</label>
          <input type="text" class="form-control" name="nftName" #nftName>
        </div>
      </div>
      <button (click)="mintnewnftsincollection(nftName)">MINT</button>
  </div>
   -->
   
  <div class="background">
  
    <div class="form-group">
      <label class="control-label">Enter the name of your NFT</label>
      <input type="text" class="form-control" name="nftName" #nftName >
      <label class="control-label">Enter the price of your NFT</label>
      <input type="text" class="form-control" name="nftPrice" #nftPrice>
    </div>
    <button (click)="mintnewnftsincollection(nftName,nftPrice)">MINT</button>
</div>
  