

<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto ">
            
            <ul class="list-group">
                <div><td><button  onclick="location.href='/newnft'" class="btn btn-primary">Mint new collection</button></td></div>
                <tbody >
                <li class="list-group-item shadow my-3">
                    <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                        <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Wired #1540</h5>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">10 NFT</h6>
                                <td><button class="btn btn-primary">NFTs of this collection</button></td>
                                <!-- <td><button  class="btn btn-danger">retier du panier</button></td> -->
                                <ul class="list-inline small">
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                                </ul>
                            </div>
                        </div><img src="../../assets/Back.png" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">
                    </div> 
  
                
                </li> 
              </tbody>
            </ul> 
        </div>
      
    </div>
  
  </div>